@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;1,300&display=swap");

body {
  font-family: Raleway, sans-serif;
  margin: 0;
  font-size: 1.5em;
  text-align: center;
  display: flex;
}

#root {
  flex-grow: 1;
  /* display: flex; */
  justify-content: center;
  align-items: center;
}

.navbar {
  background-color: rgb(255, 252, 242);
  color: white;
  font-family: "Optima", sans-serif;
}

/* img {
  width: 230px;
  height: 230px;
} */
